@import url(http://fonts.googleapis.com/css?family=Nova+Round|Nova+Oval|Nova+Script|Nova+Slim|Nova+Flat|Nova+Cut|Nova+Square);
body {
	background-image: url("http://www.goodsoundclub.com/Site_Images/Fireplace_room_14.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
body {
    background-color: #400000;
}